---
import { Button } from '../ui/button';
import { MobileSidebar } from './MobileSidebar';

const navigation = [
  { href: '#projects', label: 'Projects' },
  { href: '#about', label: 'About' },
  { href: '#stack', label: 'Stack' }
];
---

<header
  id="headernav"
  class="fixed top-0 w-full left-0 right-0 container grid grid-cols-2 md:grid-cols-3 items-end mx-auto p-4 pl-6 z-50 sm:rounded-full data-[scrolled=true]:bg-background data-[scrolled=true]:border border-foreground sm:data-[scrolled=true]:mt-2 data-[scrolled=true]:shadow-lg shadow-primary transition-all"
>
  <a href="/" class="font-black text-4xl tracking-tight serif w-min -mt-1">Axel</a>
  <nav class="justify-self-center h-full md:block hidden">
    <ul class="flex gap-2 items-center h-full">
      {
        navigation.map((navItem) => (
          <li>
            <a
              href={navItem.href}
              class="group rounded-full px-3 py-2 text-sm font-medium transition-colors text-muted-foreground hover:text-foreground hover:bg-primary/30 relative"
            >
              {navItem.label}
            </a>
          </li>
        ))
      }
    </ul>
  </nav>
  <Button variant="secondary" className="justify-self-end md:inline-flex hidden"
    >My CV</Button
  >
  <MobileSidebar client:load navItems={navigation} />
</header>

<script>
  window.addEventListener('scroll', () => {
    const header = document.getElementById('headernav');
    if (!header) return;

    header.dataset.scrolled = window.scrollY > 10 ? 'true' : 'false';
  });
</script>
