---
import { Button } from '../ui/button';

const navigation = [
  { href: '#projects', label: 'Project' },
  { href: '#about', label: 'About' },
  { href: '#stack', label: 'Stack' }
];
---

<header
  class="fixed top-0 w-full left-0 right-0 container grid grid-cols-3 items-end mx-auto p-4"
>
  <a href="/" class="font-black text-4xl tracking-tight serif">Axel</a>
  <nav class="justify-self-center h-full">
    <ul class="flex gap-2 items-end h-full">
      {
        navigation.map((navItem) => (
          <li>
            <a
              href={navItem.href}
              class="group inline-flex items-center gap-2 rounded-full px-3 py-2 text-sm font-medium transition-colors text-muted-foreground hover:text-foreground hover:bg-primary/30"
            >
              {navItem.label}
            </a>
          </li>
        ))
      }
    </ul>
  </nav>
  <div class="justify-self-end">
    <Button variant="secondary">My CV</Button>
  </div>
</header>
