@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
  --font-sans: 'IBM Plex Sans', sans-serif;
  --font-mono: 'IBM Plex Mono', monospace;
  --font-serif: 'Noto Serif JP', serif;
  --radius: 0.75rem;
  --tracking-tighter: calc(var(--tracking-normal) - 0.05em);
  --tracking-tight: calc(var(--tracking-normal) - 0.025em);
  --tracking-wide: calc(var(--tracking-normal) + 0.025em);
  --tracking-wider: calc(var(--tracking-normal) + 0.05em);
  --tracking-widest: calc(var(--tracking-normal) + 0.1em);
  --tracking-normal: var(--tracking-normal);
  --shadow-2xl: var(--shadow-2xl);
  --shadow-xl: var(--shadow-xl);
  --shadow-lg: var(--shadow-lg);
  --shadow-md: var(--shadow-md);
  --shadow: var(--shadow);
  --shadow-sm: var(--shadow-sm);
  --shadow-xs: var(--shadow-xs);
  --shadow-2xs: var(--shadow-2xs);
  --spacing: var(--spacing);
  --letter-spacing: var(--letter-spacing);
  --shadow-offset-y: var(--shadow-offset-y);
  --shadow-offset-x: var(--shadow-offset-x);
  --shadow-spread: var(--shadow-spread);
  --shadow-blur: var(--shadow-blur);
  --shadow-opacity: var(--shadow-opacity);
  --color-shadow-color: var(--shadow-color);
  --color-destructive-foreground: var(--destructive-foreground);
}

:root {
  --radius: 1.15rem;
  --background: oklch(0.9231 0.0502 76.89);
  --foreground: oklch(0.4257 0.0396 56.9612);
  --card: oklch(0.9231 0.0502 76.89);
  --card-foreground: oklch(0.4257 0.0396 56.9612);
  --popover: oklch(0.9231 0.0502 76.89);
  --popover-foreground: oklch(0.4257 0.0396 56.9612);
  --primary: oklch(0.6746 0.0833 65.6212);
  --primary-foreground: oklch(0.9848 0 0);
  --secondary: oklch(0.8419 0.0828 72.28);
  --secondary-foreground: oklch(0.4257 0.0396 56.9612);
  --muted: oklch(95.054% 0.02115 85.924);
  --muted-foreground: oklch(0.6065 0.0483 57.1944);
  --accent: oklch(87.923% 0.0582 85);
  --accent-foreground: oklch(0.4257 0.0396 56.9612);
  --destructive: oklch(0.5594 0.1900 25.8625);
  --border: oklch(87.613% 0.07328 84.353);
  --input: oklch(0.9323 0.0147 84.5845);
  --ring: oklch(0.6746 0.0833 65.6212);
  --chart-1: oklch(0.6746 0.0833 65.6212);
  --chart-2: oklch(0.7959 0.0791 98.2358);
  --chart-3: oklch(0.7652 0.0702 47.7829);
  --chart-4: oklch(0.6287 0.1549 22.5877);
  --chart-5: oklch(0.7768 0.0362 293.1853);
  --sidebar: oklch(0.9231 0.0502 76.89);
  --sidebar-foreground: oklch(0.4257 0.0396 56.9612);
  --sidebar-primary: oklch(0.6746 0.0833 65.6212);
  --sidebar-primary-foreground: oklch(0.9848 0 0);
  --sidebar-accent: oklch(0.8669 0.0346 84.5845);
  --sidebar-accent-foreground: oklch(0.4257 0.0396 56.9612);
  --sidebar-border: oklch(0.8637 0.0297 84.5908);
  --sidebar-ring: oklch(0.6746 0.0833 65.6212);
  --destructive-foreground: oklch(0.9848 0 0);
  --font-sans: 'IBM Plex Sans', sans-serif;
  --font-serif: 'Noto Serif JP', serif;
  --font-mono: 'IBM Plex Mono', monospace;
  --shadow-color: hsl(25, 20%, 30%);
  --shadow-opacity: 0.08;
  --shadow-blur: 12px;
  --shadow-spread: 0px;
  --shadow-offset-x: 0px;
  --shadow-offset-y: 4px;
  --letter-spacing: normal;
  --spacing: 0.25rem;
  --shadow-2xs: 0px 4px 12px 0px hsl(25 20% 30% / 0.04);
  --shadow-xs: 0px 4px 12px 0px hsl(25 20% 30% / 0.04);
  --shadow-sm: 0px 4px 12px 0px hsl(25 20% 30% / 0.08), 0px 1px 2px -1px hsl(25 20% 30% / 0.08);
  --shadow: 0px 4px 12px 0px hsl(25 20% 30% / 0.08), 0px 1px 2px -1px hsl(25 20% 30% / 0.08);
  --shadow-md: 0px 4px 12px 0px hsl(25 20% 30% / 0.08), 0px 2px 4px -1px hsl(25 20% 30% / 0.08);
  --shadow-lg: 0px 4px 12px 0px hsl(25 20% 30% / 0.08), 0px 4px 6px -1px hsl(25 20% 30% / 0.08);
  --shadow-xl: 0px 4px 12px 0px hsl(25 20% 30% / 0.08), 0px 8px 10px -1px hsl(25 20% 30% / 0.08);
  --shadow-2xl: 0px 4px 12px 0px hsl(25 20% 30% / 0.20);
  --tracking-normal: normal;
}

.dark {
  --background: oklch(0.3041 0.0207 57.3850);
  --foreground: oklch(0.9323 0.0147 84.5845);
  --card: oklch(0.3451 0.0245 57.3378);
  --card-foreground: oklch(0.9323 0.0147 84.5845);
  --popover: oklch(0.3041 0.0207 57.3850);
  --popover-foreground: oklch(0.9323 0.0147 84.5845);
  --primary: oklch(0.7442 0.0565 66.7751);
  --primary-foreground: oklch(0.3041 0.0207 57.3850);
  --secondary: oklch(0.4237 0.0317 57.2745);
  --secondary-foreground: oklch(0.9323 0.0147 84.5845);
  --muted: oklch(0.3735 0.0205 57.5883);
  --muted-foreground: oklch(0.7793 0.0229 84.5931);
  --accent: oklch(0.4710 0.0360 57.2472);
  --accent-foreground: oklch(0.9323 0.0147 84.5845);
  --destructive: oklch(0.4854 0.1780 27.0398);
  --border: oklch(0.4689 0.0271 57.5442);
  --input: oklch(0.4027 0.0225 57.5723);
  --ring: oklch(0.7442 0.0565 66.7751);
  --chart-1: oklch(0.7442 0.0565 66.7751);
  --chart-2: oklch(0.8483 0.0503 97.9482);
  --chart-3: oklch(0.8433 0.0408 48.2151);
  --chart-4: oklch(0.7188 0.0937 19.6201);
  --chart-5: oklch(0.8676 0.0211 293.6103);
  --sidebar: oklch(0.3041 0.0207 57.3850);
  --sidebar-foreground: oklch(0.9323 0.0147 84.5845);
  --sidebar-primary: oklch(0.7442 0.0565 66.7751);
  --sidebar-primary-foreground: oklch(0.3041 0.0207 57.3850);
  --sidebar-accent: oklch(0.4710 0.0360 57.2472);
  --sidebar-accent-foreground: oklch(0.9323 0.0147 84.5845);
  --sidebar-border: oklch(0.4689 0.0271 57.5442);
  --sidebar-ring: oklch(0.7442 0.0565 66.7751);
  --destructive-foreground: oklch(0.9848 0 0);
  --radius: 1.15rem;
  --font-sans: 'IBM Plex Sans', sans-serif;
  --font-serif: 'Noto Serif JP', serif;
  --font-mono: 'IBM Plex Mono', monospace;
  --shadow-color: hsl(0, 0%, 0%);
  --shadow-opacity: 0.2;
  --shadow-blur: 12px;
  --shadow-spread: 0px;
  --shadow-offset-x: 0px;
  --shadow-offset-y: 4px;
  --letter-spacing: normal;
  --spacing: 0.25rem;
  --shadow-2xs: 0px 4px 12px 0px hsl(0 0% 0% / 0.10);
  --shadow-xs: 0px 4px 12px 0px hsl(0 0% 0% / 0.10);
  --shadow-sm: 0px 4px 12px 0px hsl(0 0% 0% / 0.20), 0px 1px 2px -1px hsl(0 0% 0% / 0.20);
  --shadow: 0px 4px 12px 0px hsl(0 0% 0% / 0.20), 0px 1px 2px -1px hsl(0 0% 0% / 0.20);
  --shadow-md: 0px 4px 12px 0px hsl(0 0% 0% / 0.20), 0px 2px 4px -1px hsl(0 0% 0% / 0.20);
  --shadow-lg: 0px 4px 12px 0px hsl(0 0% 0% / 0.20), 0px 4px 6px -1px hsl(0 0% 0% / 0.20);
  --shadow-xl: 0px 4px 12px 0px hsl(0 0% 0% / 0.20), 0px 8px 10px -1px hsl(0 0% 0% / 0.20);
  --shadow-2xl: 0px 4px 12px 0px hsl(0 0% 0% / 0.50);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
    letter-spacing: var(--tracking-normal);
  }
}